<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='style/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="static/js/signUp.js"></script>
</head>

<body>

<div class="container">

    <script type="text/javascript">
      $('button#btn').click(function(){
        $.ajax({
            url: "/signUpUser",
            type: "POST",
            success: function(resp){
                $('div#response').append(resp.data);
            }
        });
      });

    </script>

    <div class="test">
        <table class="table_dark">

            <tr>
                <td colspan="3">
                    <p>Введеите дату от</p>
                    <input type="date" name="calendarTo" value="{{datetimenow}}">
                    <p>Введеите дату до</p>
                    <input type="date" name="calendarDo" value="{{datetimenow}}">
                    <br>
                    <p> Статус </p>
                    <select name="thelist" onChange="combo(this, 'theinput')">
                        <option>ALL</option>
                        <option>033</option>
                        <option>030</option>
                        <option>013</option>
                    </select>
                    <br>
                    <br>
                    <input class="buttonsize" type="button"
                           name="Button" value="Загрузить"
                           onclick="location.href='/'">
                    <form>
                    </form>
                </td>
            </tr>
            <tr>

            <tr>
                <td>
                    <input class="buttonsize" type="button" name="Button" value="Проверить Все"
                           onclick="location.href='/proverka/1'">
                </td>
                <td>

                    <input class="buttonsize" type="button" name="Button" value="Проверить Наименования"
                           onclick="location.href='/proverka/2'">
                </td>
                <td>

                    <input class="buttonsize" type="button" name="Button" value="Проверить Атрибуты"
                           onclick="location.href='/proverka/3'">
                </td>


            </tr>
            <tr>
                <td colspan="3">
                    <input class="buttonsize" type="button" name="Button" value="Авто обучение"
                           onclick="location.href='?start=1'">
                </td>
            </tr>

        </table>

        {% block content %} {% endblock %}

    </div>
</div>

</body>

</html>